.site-header{
    background-image: url('../../assets/main-banner.jpg');
    height: -webkit-fill-available;
        background-position-x: center;
        height: min-content;
}

.site-header .logo{
    padding: 24px;
    width: 231px;
    height:37px;
    box-sizing: content-box;
}


.site-header__content{
    margin-top:415px;
    padding-bottom: 32px;
    width: 100%;
    background-color: var(--blue-100);
}

.site-header__title{
    color: var(--gold-100);
    font-family: Lato;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.site-header__subtitle{
    color: var(--white);
font-family: Lato;
font-weight: 700;
font-size: 24px;
line-height: 32px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
margin-bottom: 24px;

}

.terms-conditions{
    font-family: Lato;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--blue-40);
    display: block;
    text-align: center;
    margin-top: 24px;

}

