.why-choose-us__features{
    display: flex;
    gap: 1%;
}

.feature-card{
    width: 24%;
        align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.feature-card__icon{
    height: 160px;
    width: 160px;
    margin-top: 16px;
}

.feature-card__description{
    text-align: center;
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: var(--blue-80);
}

.feature-card__heading{
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: var(--blue-100);
}