.join-flow {
    background-color: var(--dark-blue);
    padding: 28px 111px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.join-flow__step {
    display: flex;
    align-items: center;
    gap: 16px
}

.join-flow__title {
    font-family: Lato;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: var(--gold-100);
}


.join-flow__subtitle {
    color: var(--blue-40);

    font-family: Lato;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;


}


.join-flow__text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}