.why-choose-us__features {
    display: flex;
    justify-content: center;
    padding: 0 24px 72px 24px;
    gap: 16px;
}


.why-choose-us {
    background-color: var(--white);

}

.feature-card {
    width: 25%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.feature-card__icon {
    height: 160px;
    width: 160px;
    margin-top: 16px;
}

.feature-card__description {
    text-align: center;
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    color: var(--blue-80);
}

.feature-card__heading {
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: var(--blue-100);
}

.why-choose-us__title {
    padding-top: 64px;
    margin-top: 0;
}


@media screen and (max-width:1023px) {
    .why-choose-us__features {
        display: flex;
        justify-content: center;
        padding: 0 16px 36px 16px;
        gap: 8px;
        row-gap: 32px;
        flex-wrap: wrap;
    }

    .feature-card {
        width: calc(50% - 4px);

    }

    .feature-card__description {
        font-size: 14px;
        line-height: 20px;
    }

    .feature-card__heading {
        font-size: 14px;
        line-height: 20px;
    }



}

@media screen and (max-width:480px) {

    .why-choose-us__features {
        flex-direction: column;
        align-items: center;
        row-gap: 24px;
        padding-bottom: 48px;
    }

    .feature-card {
        width: 100%;
        gap: 0;
    }

    .feature-card__icon {
        margin-bottom: 16px;
    }

    .feature-card__heading {
        margin-bottom: 2px;
    }
}

.feature-card {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease;
}

.feature-card.in-view {
    opacity: 1;
    transform: translateY(0);
}

.feature-card:nth-child(1).in-view {
    transition-delay: 0.2s;
}

.feature-card:nth-child(2).in-view {
    transition-delay: 0.4s;
}

.feature-card:nth-child(3).in-view {
    transition-delay: 0.6s;
}

.feature-card:nth-child(4).in-view {
    transition-delay: 0.8s;
}